<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>

  <typeAliases>
    <!-- 회원 -->
    <typeAlias alias="Consumer" type="org.personal.shopping.domain.consumer.domain.Consumer"/>

    <!-- 카테고리 -->
    <typeAlias alias="CategoryBasic" type="org.personal.shopping.domain.category.domain.CategoryBasic"/>

    <!-- 상품 -->
    <typeAlias alias="Product" type="org.personal.shopping.domain.product.domain.Product"/>
    <typeAlias alias="ProductGrid" type="org.personal.shopping.domain.product.domain.ProductGrid"/>

    <!-- 상품 옵션 -->
    <typeAlias alias="ProductColor" type="org.personal.shopping.domain.product.model.dto.ProductColorDto"/>
    <typeAlias alias="ProductSize" type="org.personal.shopping.domain.product.model.dto.ProductSizeDto"/>

    <!-- 상품 이미지 -->
    <typeAlias alias="ProductImage" type="org.personal.shopping.domain.product.domain.ProductImage"/>

    <!-- 상품 상세 설명 -->
    <typeAlias alias="ProductDescription" type="org.personal.shopping.domain.product.domain.ProductDescription"/>

  </typeAliases>
</configuration>
