<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>

  <typeAliases>
    <!-- 회원 -->
    <typeAlias alias="Consumer" type="org.personal.shopping.domain.consumer.domain.Consumer"/>

    <!-- 카테고리 -->
    <typeAlias alias="CategoryBasic" type="org.personal.shopping.domain.category.domain.CategoryBasic"/>

    <!-- 상품 -->
    <typeAlias alias="ProductGrid" type="org.personal.shopping.domain.product.domain.ProductGrid"/>
  </typeAliases>
</configuration>
