<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.personal.shopping.domain.mapper.CategoryMapper">

  <!-- 카테고리 전체 조회 -->
  <select id="findByAllCategory" resultType="CategoryBasic">
    select category_id
         , category_name
         , parent_category_id
      from category
  </select>

  <!-- 카테고리 아이디 기준 조회 -->
  <select id="findByCategoryId" resultType="CategoryBasic">
    select category_id
         , category_name
         , parent_category_id
      from category
     where category_id = #{categoryId}
  </select>

  <!-- 하위 카테고리 조회 -->
  <select id="findSubCategoryByCategoryId" resultType="CategoryBasic">
    select category_id
         , category_name
         , parent_category_id
      from category
     where parent_category_id = #{categoryId}
  </select>

</mapper>