<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.personal.shopping.domain.mapper.ProductMapper">

  <!-- 상위 카테고리 기준 상품 총 수 -->
  <select id="totalProductByCategory" resultType="int">
    select count(pr.product_id) total_count
      from product   	     pr
inner join category        ca1
        on ca1.category_id = pr.category_id
inner join category        ca2
        on ca2.category_id = ca1.parent_category_id
     where ca2.category_id = #{categoryId}
  </select>

  <!--  하위 카테고리 기준 상품 총 수 -->
  <select id="totalProductBySubCategory" resultType="int">
    select count(pr.product_id) total_count
      from product        pr
inner join category       ca
        on ca.category_id = pr.category_id
    where ca.category_id = #{categoryId}
  </select>

  <!--  상위 카테고리 기준 상품 조회 -->
  <select id="findProductByCategory" resultType="ProductGrid">
    select pr.product_id
         , pr.product_name
         , pr.price
         , pri.image_url
      from product   	     pr
inner join category        ca1
        on ca1.category_id = pr.category_id
inner join category        ca2
        on ca2.category_id = ca1.parent_category_id
inner join product_image	 pri
        on pri.product_id  = pr.product_id
     where ca2.category_id = #{categoryId}
  order by pr.product_id
     limit #{offset}, #{pageSize}
  </select>

  <!--  하위 카테고리 기준 상품 조회 -->
  <select id="findProductBySubCategory" resultType="ProductGrid">
    select pr.product_id
         , pr.product_name
         , pr.price
         , pri.image_url
      from product        pr
inner join category       ca
        on ca.category_id = pr.category_id
inner join product_image	 pri
        on pri.product_id  = pr.product_id
     where ca.category_id = #{categoryId}
  order by pr.product_id
     limit #{offset}, #{pageSize}
  </select>
</mapper>